*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

.container{
  width: 90%;
  margin: 0 auto;
}

body{
  background: rgb(21,22,83);
background: linear-gradient(90deg, rgba(21,22,83,1) 0%, rgba(90,54,124,1) 0%, rgba(22,30,111,1) 16%, rgba(64,22,103,1) 72%, rgba(75,37,140,1) 86%);
}